@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300&amp;display=swap");

/* Practice code CSS*/


body {
    width: 100%;
    color: #ffffff;
    font: 100 100%/1.6 "Heebo", sans-serif;
    overflow-x: hidden;
    margin: 0; 
  }
  
  html {
    margin: 0; 
  }
  
  .scene {
    position: relative;
    min-height: 100vh; 
    background: rgb(119 121 100) url(https://cutewallpaper.org/23/aesthetic-minimalist-mountain-desktop-wallpaper/200927558.jpg)
      center/cover;
    align-items: center;
    display: flex;
    justify-content: center;
  }
.card {
    max-width: 550px;
    color: wheat;
    background: #fefefe13;
    backdrop-filter: blur(10px);
    border-radius: 15px;
    box-shadow: 0 10px 35px 0 rgb(119 121 100);
    overflow: hidden;
    padding: 20px 30px 50px 30px;
    position: relative;
    text-align: center;

}
.figure {
    height: auto;
    margin: 0 auto;
    max-width: 450px;
    width: 100%;
}
.image {
    border-radius: 50%;
    max-width: 100%;

}
.heading {
font-size: 1.35rem;
font-weight: 200;
margin-bottom: 15px;
}
.form {
}
.input {
    width: 100%;
    background: #fefefe13;
    border: 1px solid #fefefe4d;
    border-radius: 5px;
    box-sizing: border-box;
    color: #FEFEFE;
    display: block;
    letter-spacing: 0.15rem;
    padding: 5px;

}
.button {
background: #fefefea6;
border: none;
border-radius: 3px;
color:  #362100 ;
margin: 15px auto 0 auto;
padding: 8px 20px;

}

.input:focus{
    background: #fefefe14;
    border: 1px solid #fefefebf;
    outline: none;
}

.button:active{
    background: #ffffffbf;
    outline: none;

}